.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: var(--bg-primary);
}

.app-body {
  flex: 1;
  display: flex;
  overflow: hidden;
  position: relative;
}

@media (max-width: 760px) {
  .app-body {
    overflow-x: auto;
  }
}
